poetry==1.6.1 ; python_full_version == "3.10.13"
asgiref==3.8.1 ; python_full_version == "3.10.13"
async-timeout==5.0.1 ; python_full_version == "3.10.13"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
cryptography==45.0.2 ; python_full_version == "3.10.13"
django-appconf==1.1.0 ; python_full_version == "3.10.13"
django-cryptography==1.1 ; python_full_version == "3.10.13"
django-extensions==4.1 ; python_full_version == "3.10.13"
django-filter==24.3 ; python_full_version == "3.10.13"
django-redis==5.0.0 ; python_full_version == "3.10.13"
django==5.2.1 ; python_full_version == "3.10.13"
djangorestframework==3.15.2 ; python_full_version == "3.10.13"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
redis==6.1.0 ; python_full_version == "3.10.13"
sqlparse==0.5.3 ; python_full_version == "3.10.13"
typing-extensions==4.13.2 ; python_full_version == "3.10.13"
tzdata==2025.2 ; sys_platform == "win32" and python_full_version == "3.10.13"
