appnope==0.1.4 ; sys_platform == "darwin" and python_full_version == "3.10.13"
asgiref==3.8.1 ; python_full_version == "3.10.13"
asttokens==3.0.0 ; python_full_version == "3.10.13"
async-timeout==5.0.1 ; python_full_version == "3.10.13"
backcall==0.2.0 ; python_full_version == "3.10.13"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
colorama==0.4.6 ; python_full_version == "3.10.13" and sys_platform == "win32"
cryptography==45.0.2 ; python_full_version == "3.10.13"
decorator==5.2.1 ; python_full_version == "3.10.13"
django-appconf==1.1.0 ; python_full_version == "3.10.13"
django-cors-headers==4.6.0 ; python_full_version == "3.10.13"
django-cryptography==1.1 ; python_full_version == "3.10.13"
django-extensions==4.1 ; python_full_version == "3.10.13"
django-filter==24.3 ; python_full_version == "3.10.13"
django-redis==5.0.0 ; python_full_version == "3.10.13"
django==5.2.1 ; python_full_version == "3.10.13"
djangorestframework==3.15.2 ; python_full_version == "3.10.13"
executing==2.2.0 ; python_full_version == "3.10.13"
gunicorn==23.0.0 ; python_full_version == "3.10.13"
ipython==8.10.0 ; python_full_version == "3.10.13"
jedi==0.19.2 ; python_full_version == "3.10.13"
matplotlib-inline==0.1.7 ; python_full_version == "3.10.13"
packaging==25.0 ; python_full_version == "3.10.13"
parso==0.8.4 ; python_full_version == "3.10.13"
pexpect==4.9.0 ; sys_platform != "win32" and python_full_version == "3.10.13"
pickleshare==0.7.5 ; python_full_version == "3.10.13"
prompt-toolkit==3.0.51 ; python_full_version == "3.10.13"
psycopg2-binary==2.9.6 ; python_full_version == "3.10.13"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_full_version == "3.10.13"
pure-eval==0.2.3 ; python_full_version == "3.10.13"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
pygments==2.19.1 ; python_full_version == "3.10.13"
python-dotenv==1.0.0 ; python_full_version == "3.10.13"
redis==6.1.0 ; python_full_version == "3.10.13"
sqlparse==0.5.3 ; python_full_version == "3.10.13"
stack-data==0.6.3 ; python_full_version == "3.10.13"
traitlets==5.14.3 ; python_full_version == "3.10.13"
typing-extensions==4.13.2 ; python_full_version == "3.10.13"
tzdata==2025.2 ; sys_platform == "win32" and python_full_version == "3.10.13"
wcwidth==0.2.13 ; python_full_version == "3.10.13"
