# .env

# ==== Spotify ====
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# ==== PostgreSQL ====
POSTGRES_USER=walrus
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=walrus
POSTGRES_SERVICE=walrus-db
POSTGRES_PORT=5432

# ==== Redis ====
REDIS_HOST=walrus-redis
REDIS_PORT=6379
REDIS_DB=1

# ==== Django ====
DJANGO_SECRET_KEY=your_django_secret_key
ENV=local
DEFAULT_MEMBER_PASSWORD=your_default_member_password
MEMBER_API_TOKEN_SECRET_KEY=your_fernet_key
HERON_BASE_URL=http://localhost:3000

# ==== RabbitMQ ====
RABBITMQ_DEFAULT_USER=walrus
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password
RABBITMQ_HOST=walrus-rabbitmq
RABBITMQ_PORT=5672
